{
    "main": "report-converter",
    "output": "sarif-php-converters.phar",
    "force-autodiscovery": true,
    "exclude-dev-files": false,
    "files": [
        "autoload.php",
        "report-converter.php"
    ],
    "finder": [
        {
            "name": "*.php",
            "exclude": [
                "examples",
                "resources",
                "test",
                "tests"
            ],
            "in": [
                "vendor-bin/phan",
                "vendor-bin/phpcs",
                "vendor-bin/phpcs-fixer",
                "vendor-bin/phplint",
                "vendor-bin/phpmd",
                "vendor-bin/phpstan",
                "vendor-bin/psalm",
                "vendor-bin/twigcs-fixer"
            ]
        }
    ],
    "blacklist": [
        "vendor/bamarni/composer-bin-plugin/"
    ],
    "compression": "GZ",
    "dump-autoload": false,
    "files-bin": [
        "console-table.txt",
        "plain.txt",
        "sbom.json",
        ".box.manifests.bin"
    ],
    "map": [
        {
            "console-table.txt": ".box.manifests/console-table.txt"
        },
        {
            "plain.txt": ".box.manifests/plain.txt"
        },
        {
            "sbom.json": ".box.manifests/sbom.json"
        }
    ],
    "stub": "stub.php"
}
