parameters:
    level: 6
    paths:
        - ../../src/
    scanDirectories:
        - ../../vendor-bin/phpcs/
        - ../../vendor-bin/phplint/
        - ../../vendor-bin/phpmd/
        - ../../vendor-bin/phpstan/
services:
    errorFormatter.sarif:
        class: Bartlett\Sarif\Converter\Reporter\PhpStanFormatter
