parameters:
    level: 6
    paths:
        - ../../src/
    scanDirectories:
        - ../../vendor-bin/phpcs/
        - ../../vendor-bin/phpcs-fixer/
        - ../../vendor-bin/phplint/
        - ../../vendor-bin/phpmd/
        - ../../vendor-bin/phpstan/
        - ../../vendor-bin/twigcs-fixer/
services:
    errorFormatter.sarif:
        class: Bartlett\Sarif\Converter\Reporter\PhpStanFormatter
