<?xml version="1.0" encoding="UTF-8"?>
<checkstyle version="3.10.1">
<file name="/shared/backups/bartlett/sarif-php-converters/examples/fixtures/php_good_1.php">
 <error line="2" column="1" severity="error" message="Missing file doc comment" source="PEAR.Commenting.FileComment.Missing"/>
</file>
<file name="/shared/backups/bartlett/sarif-php-converters/examples/fixtures/php_bad_1.php">
 <error line="2" column="1" severity="error" message="Missing file doc comment" source="PEAR.Commenting.FileComment.Missing"/>
</file>
<file name="/shared/backups/bartlett/sarif-php-converters/examples/fixtures/php_good_2.php">
 <error line="1" column="1" severity="error" message="Missing file doc comment" source="PEAR.Commenting.FileComment.Missing"/>
 <error line="3" column="1" severity="error" message="Missing short description in doc comment" source="Generic.Commenting.DocComment.MissingShort"/>
 <error line="3" column="1" severity="error" message="Doc comment for parameter &quot;$name&quot; missing" source="PEAR.Commenting.FunctionComment.MissingParamTag"/>
 <error line="11" column="1" severity="error" message="Missing doc comment for function helloMegalinter()" source="PEAR.Commenting.FunctionComment.Missing"/>
 <error line="17" column="1" severity="error" message="Missing doc comment for function helloOrWorld()" source="PEAR.Commenting.FunctionComment.Missing"/>
</file>
<file name="/shared/backups/bartlett/sarif-php-converters/examples/fixtures/php_bad_2.php">
 <error line="1" column="1" severity="error" message="Missing file doc comment" source="PEAR.Commenting.FileComment.Missing"/>
 <error line="3" column="1" severity="error" message="Missing short description in doc comment" source="Generic.Commenting.DocComment.MissingShort"/>
 <error line="3" column="1" severity="error" message="Doc comment for parameter &quot;$i&quot; missing" source="PEAR.Commenting.FunctionComment.MissingParamTag"/>
 <error line="6" column="29" severity="error" message="Opening brace should be on a new line" source="PEAR.Functions.FunctionDeclaration.BraceOnSameLine"/>
 <error line="14" column="1" severity="error" message="Space before opening parenthesis of function call prohibited" source="PEAR.Functions.FunctionCallSignature.SpaceBeforeOpenBracket"/>
 <error line="15" column="3" severity="error" message="Expected &quot;} elseif (...) {\n&quot;; found &quot;} elseif (...) {&quot;" source="PEAR.ControlStructures.ControlSignature.Found"/>
 <error line="15" column="24" severity="error" message="Closing brace must be on a line by itself" source="PEAR.WhiteSpace.ScopeClosingBrace.Line"/>
</file>
</checkstyle>

