<?xml version="1.0" encoding="UTF-8"?>
<checkstyle>
<file name="/shared/backups/bartlett/sarif-php-converters/examples/fixtures/php_bad_1.php">
  <error line="3" column="1" severity="error" message="Invalid numeric literal on line 3" source="phpstan.parse" />
  <error line="3" column="1" severity="error" message="Syntax error, unexpected '=' on line 3" source="phpstan.parse" />
  <error line="3" column="1" severity="error" message="Syntax error, unexpected T_LNUMBER on line 3" source="phpstan.parse" />
  <error line="3" column="1" severity="error" message="Syntax error, unexpected T_STRING on line 3" source="phpstan.parse" />
</file>
<file name="/shared/backups/bartlett/sarif-php-converters/examples/fixtures/php_bad_2.php">
  <error line="15" column="1" severity="error" message="Syntax error, unexpected '}' on line 15" source="phpstan.parse" />
</file>
</checkstyle>
